<h1>New Employee Form</h1>



<% if @employee.errors.any? %>
<div id="error_explanation">
  <h2>There were some errors:</h2>
  <ul>
    <% @employee.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<%= form_for @employee do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :title %>
<%= f.text_field :title %>
<%= f.collection_select :company_id, Company.all, :id, :name %>
<%= f.submit %>

<% end %>
