<h1> <%=  @company.name %> </h1>

<% @company.offices.each do |office| %>
   <div> <%= "Building Name: #{office.building.name}" %> </div>
    <div><%= "Office Floor: #{office.floor}" %></div>

    <%end%>
<h3>All Employees:</h3>
<% @company.employees.each do |employee| %>
   <div> <%= employee.name %> </div>
   <% end %>
    
<%= link_to "Enter New Employee", new_employee_path(@company)%>